[Unit]
Description=Mastodon To Twitter Sync Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/Mastodon-to-Twitter-Sync/
ExecStart=/root/Mastodon-to-Twitter-Sync/venv/bin/python /root/Mastodon-to-Twitter-Sync/mtSync.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
